/run/
/src/main/java/poisontrigger/kteams/TODO.txt
/build/natives/
/build/reobfJar/
/build/resources/
/build/tmp/
/build/generated/
/build/extractSrg/
/build/extractMappings/
/build/downloadMcpConfig/
/build/downloadMCMeta/
/build/createSrgToMcp/
/build/createMcpToSrg/
/build/classes/
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/7.4.2/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.4.2/executionHistory/executionHistory.lock
/.gradle/7.4.2/fileHashes/fileHashes.lock
